<ul class="sidebar-nav">
  <li>
    <a href="/" class=" active"><i class="gi gi-compass sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide"><%= t("welcome.dashboard") %></span></a>
  </li>
  <li class="sidebar-separator">
    <i class="fa fa-ellipsis-h"></i>
  </li>
  <li>
    <a href="#" class="sidebar-nav-menu">
      <i class="fa fa-chevron-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
      <i class="fa fa-rocket sidebar-nav-icon"></i>
      <span class="sidebar-nav-mini-hide"><%= t("welcome.articles") %></span>
    </a>
    <ul>
      <li>
        <a href="<%= articles_path %>"><%= t("welcome.article.publish") %></a>
      </li>
    </ul>
  </li>
  <li>
    <a href="#" class="sidebar-nav-menu">
      <i class="fa fa-chevron-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
      <!-- <i class="gi gi-airplane sidebar-nav-icon"></i> -->
      <i class="fa fa-folder sidebar-nav-icon"></i>
      <span class="sidebar-nav-mini-hide"><%= t("welcome.system_sources") %></span>
    </a>
    <ul>
      <li>
        <a href="<%= images_path %>"><%= t("welcome.system_source.pictures") %></a>
      </li>
      <li>
        <a href="page_comp_todo.html"><%= t("welcome.system_source.pdf_files") %></a>
      </li>
    </ul>
  </li>
  <li>
    <a href="#" class="sidebar-nav-menu">
      <i class="fa fa-chevron-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
      <i class="gi gi-airplane sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide"><%= t("welcome.templements") %></span>
    </a>
    <ul>
      <li>
        <a href="page_comp_todo.html"><%= t("welcome.templement.publish") %></a>
      </li>
    </ul>
  </li>
  <li>
    <a href="#" class="sidebar-nav-menu"><i class="fa fa-chevron-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-airplane sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Components</span></a>
    <ul>
      <li>
        <a href="page_comp_todo.html">To-do List</a>
      </li>
      <li>
        <a href="page_comp_gallery.html">Gallery</a>
      </li>
      <li>
        <a href="page_comp_maps.html">Google Maps</a>
      </li>
      <li>
        <a href="page_comp_calendar.html">Calendar</a>
      </li>
      <li>
        <a href="page_comp_charts.html">Charts</a>
      </li>
      <li>
        <a href="page_comp_animations.html">CSS3 Animations</a>
      </li>
      <li>
        <a href="page_comp_tree.html">Tree View Lists</a>
      </li>
      <li>
        <a href="page_comp_nestable.html">Nestable &amp; Sortable Lists</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="#" class="sidebar-nav-menu"><i class="fa fa-chevron-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-more_items sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">UI Layouts</span></a>
    <ul>
      <li>
        <a href="page_layout_static.html">Static</a>
      </li>
      <li>
        <a href="page_layout_static_fixed_width.html">Static Fixed Width</a>
      </li>
      <li>
        <a href="page_layout_fixed_top.html">Top Header (Fixed)</a>
      </li>
      <li>
        <a href="page_layout_fixed_bottom.html">Bottom Header (Fixed)</a>
      </li>
      <li>
        <a href="page_layout_static_sidebar_mini.html">Sidebar Mini (Static)</a>
      </li>
      <li>
        <a href="page_layout_fixed_sidebar_mini.html">Sidebar Mini (Fixed)</a>
      </li>
      <li>
        <a href="page_layout_alternative_sidebar_visible.html">Visible Alternative Sidebar</a>
      </li>
    </ul>
  </li>
  <li>
      <a href="#" class="sidebar-nav-menu"><i class="fa fa-chevron-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="fa fa-gift sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Extra Pages</span></a>
      <ul>
        <li>
          <a href="#" class="sidebar-nav-submenu"><i class="fa fa-chevron-left sidebar-nav-indicator"></i>Base</a>
          <ul>
            <li>
              <a href="page_ready_blank.html">Blank</a>
            </li>
            <li>
              <a href="page_ready_error.html">Error</a>
            </li>
            <li>
              <a href="page_ready_search_results.html">Search Results (5)</a>
            </li>
            <li>
              <a href="page_ready_faq.html">FAQ</a>
            </li>
            <li>
              <a href="page_ready_invoice.html">Invoice</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" class="sidebar-nav-submenu"><i class="fa fa-chevron-left sidebar-nav-indicator"></i>Web Application</a>
          <ul>
            <li>
              <a href="page_ready_profile.html">User Profile</a>
            </li>
            <li>
              <a href="page_ready_forum.html">Forum (3)</a>
            </li>
            <li>
              <a href="page_ready_pricing_tables.html">Pricing Tables</a>
            </li>
            <li>
              <a href="page_ready_article.html">Article</a>
            </li>
            <li>
              <a href="page_ready_timeline.html">Timeline</a>
            </li>
            <li>
              <a href="page_ready_contacts.html">Contacts</a>
            </li>
            <li>
              <a href="page_ready_tickets.html">Tickets</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" class="sidebar-nav-submenu"><i class="fa fa-chevron-left sidebar-nav-indicator"></i>Login, Register &amp; Lock</a>
          <ul>
            <li>
              <a href="page_ready_login.html">Login</a>
            </li>
            <li>
              <a href="page_ready_login2.html">Login 2</a>
            </li>
            <li>
              <a href="page_ready_reminder.html">Password Reminder</a>
            </li>
            <li>
              <a href="page_ready_register.html">Register</a>
            </li>
            <li>
              <a href="page_ready_lock_screen.html">Lock Screen</a>
            </li>
          </ul>
        </li>
      </ul>
  </li>
  <li class="sidebar-separator">
    <i class="fa fa-ellipsis-h"></i>
  </li>
  <li>
    <a href="page_app_email.html"><i class="gi gi-inbox sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Email Center</span></a>
  </li>
  <li>
    <a href="page_app_social.html"><i class="fa fa-share-alt sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Social Net</span></a>
  </li>
  <li>
    <a href="page_app_media.html"><i class="gi gi-picture sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Media Box</span></a>
  </li>
  <li>
    <a href="page_app_estore.html"><i class="gi gi-shopping_cart sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">eStore</span></a>
  </li>
</ul>