<!-- Login Container -->
<div id="login-container">
  <!-- Login Header -->
  <h1 class="h2 text-light text-center push-top-bottom animation-slideDown">
      <i class="fa fa-cube"></i> <strong><%= t("web_title") %></strong>
  </h1>
  <!-- END Login Header -->

  <!-- Login Block -->
  <div class="block animation-fadeInQuickInv">
    <!-- Login Title -->
    <div class="block-title">
        <div class="block-options pull-right">
            <a href="page_ready_reminder.html" class="btn btn-effect-ripple btn-primary" data-toggle="tooltip" data-placement="left" title="Forgot your password?"><i class="fa fa-exclamation-circle"></i></a>
            <a href="page_ready_register.html" class="btn btn-effect-ripple btn-primary" data-toggle="tooltip" data-placement="left" title="Create new account"><i class="fa fa-plus"></i></a>
        </div>
        <h2><%= t("login.please_login") %></h2>
    </div>
    <!-- END Login Title -->

    <!-- Login Form -->
    <!-- <form id="form-login" action="index.html" method="post" class="form-horizontal"> -->
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-horizontal"}) do |f| %>
      <div class="form-group">
        <div class="col-xs-12">
          <!-- <input type="text" id="login-email" name="login-email" class="form-control" placeholder="<%= t('login.please_input_user_name') %>"> -->
          <%#= f.label :email %><br />
          <%= f.text_field :name, class: "form-control", autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <!-- <input type="password" id="login-password" name="login-password" class="form-control" placeholder="<%#= t('login.please_input_password') %>"> -->
          <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: t('login.please_input_password') %>
        </div>
      </div>
      <div class="form-group form-actions">
        <div class="col-xs-8">
          <label class="csscheckbox csscheckbox-primary">
            <!-- <input type="checkbox" id="login-remember-me" name="login-remember-me"> -->
            <%= f.check_box :remember_me %>
            <span></span>
          </label>
            <%= t("login.please_rember_password") %>
        </div>
          <div class="col-xs-4 text-right">
            <button type="submit" class="btn btn-effect-ripple btn-sm btn-primary"><i class="fa fa-check"></i><%= t("login.user_login") %></button>
          </div>
      </div>
    <!-- </form> -->
    <% end %>
    <!-- END Login Form -->
    </div>
    <!-- END Login Block -->

    <!-- Footer -->
    <footer class="text-muted text-center animation-pullUp">
      <!-- <small><span id="year-copy"></span> &copy; <a href="http://goo.gl/RcsdAh" target="_blank">AppUI 2.7</a></small> -->
    </footer>
    <!-- END Footer -->
</div>